type project
owners
    wezhu
authors 
    wezhu
projectUrl
    http://github.com/WezhuTest/Naxos
iconUrl
    https://raw.githubusercontent.com/WezhuTest/Naxos/master/docs/files/img/logo.png
licenseUrl
    http://github.com/WezhuTest/Naxos/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    Test
summary
    Project Naxos
description
    Project Naxos
